body {
    min-height: 100%;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, .6) 100%), url(https://news.virginia.edu/sites/default/files/article_image/fornax_dwarf_galaxy_header_5-2.jpg) no-repeat center center;
    
}

html {
    height: 100%;
  }

.content {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left:20px;
    padding-right:20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-family: 'Do Hyeon', sans-serif;
    

}
.content h1, .content h2 {
    color: white !important;
}

.button {
    background: url(https://lh3.googleusercontent.com/proxy/T245U0HL3167u8h6LHpzNGjeaiSy2Ki2HAgrH_AHx8VlSefkhTgmVsbPYj9RKN_760wGLLuTBukW9dN-VuUrsm84mlFFmiiC0t83wfKTVMy_UaOOkX06lOsOwcDNKBdNKh1XpUhx3AtLrpLp-8UsO80nGZ6vT0jutaDJbd_zdv3YLqCtr2U8IGZSOFD-B0tLfJcWaEblBCR4dwr2sJGjzNfnl_OEHPDOvkkjzaIvVD8On_sCtDwbvk99T867HwWMCc6xiU_BCMYWV2e8bTZX42Wve-EZJeqHe6Q7HyWKDD7qJGcTFchlqp1rXXy-jE1r87l2U0AmVZ-RmbS9097FNoZxsCvG_m0qEpKvW1eH8WBmzrTsLw) no-repeat center center !important;
    color: darkmagenta !important;
    border: 2px solid darkmagenta !important; /* Green */
    font-weight: 700 !important;
    font-size: 22px !important;
}
@media only screen and (max-width: 800px) {
    .content {
        width: 100%;
        padding-left:10px;
        padding-right:10px;
    }
}
.answerButton1 {
    background: url(https://lh3.googleusercontent.com/proxy/T245U0HL3167u8h6LHpzNGjeaiSy2Ki2HAgrH_AHx8VlSefkhTgmVsbPYj9RKN_760wGLLuTBukW9dN-VuUrsm84mlFFmiiC0t83wfKTVMy_UaOOkX06lOsOwcDNKBdNKh1XpUhx3AtLrpLp-8UsO80nGZ6vT0jutaDJbd_zdv3YLqCtr2U8IGZSOFD-B0tLfJcWaEblBCR4dwr2sJGjzNfnl_OEHPDOvkkjzaIvVD8On_sCtDwbvk99T867HwWMCc6xiU_BCMYWV2e8bTZX42Wve-EZJeqHe6Q7HyWKDD7qJGcTFchlqp1rXXy-jE1r87l2U0AmVZ-RmbS9097FNoZxsCvG_m0qEpKvW1eH8WBmzrTsLw) no-repeat center center !important;
    color: rgb(37, 0, 139) !important;
    border: 2px solid rgb(35, 1, 146) !important; /* Green */
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 7px;
    margin: 5px;


}
.answerButton2 {
    background: url(https://lh3.googleusercontent.com/proxy/T245U0HL3167u8h6LHpzNGjeaiSy2Ki2HAgrH_AHx8VlSefkhTgmVsbPYj9RKN_760wGLLuTBukW9dN-VuUrsm84mlFFmiiC0t83wfKTVMy_UaOOkX06lOsOwcDNKBdNKh1XpUhx3AtLrpLp-8UsO80nGZ6vT0jutaDJbd_zdv3YLqCtr2U8IGZSOFD-B0tLfJcWaEblBCR4dwr2sJGjzNfnl_OEHPDOvkkjzaIvVD8On_sCtDwbvk99T867HwWMCc6xiU_BCMYWV2e8bTZX42Wve-EZJeqHe6Q7HyWKDD7qJGcTFchlqp1rXXy-jE1r87l2U0AmVZ-RmbS9097FNoZxsCvG_m0qEpKvW1eH8WBmzrTsLw) no-repeat center center !important;
    color: rgb(139, 0, 0) !important;
    border: 2px solid rgb(255, 8, 0) !important; /* Green */
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 7px;
    margin: 5px;

}