body {
    min-height: 100%;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, .6) 100%), url(background-galaxy.jpg) no-repeat center center;
    
}

html {
    height: 100%;
  }

.content {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left:20px;
    padding-right:20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    color:white;
    font-family: 'Do Hyeon', sans-serif;
    

}
.content h1, .content h2 {
    color: white !important;
}
/* primary button */
.button {
    background: url(button-galaxy.jpeg) no-repeat center center !important;
    color: darkmagenta !important;
    border: 2px solid darkmagenta !important; /* Green */
    font-weight: 700 !important;
    font-size: 22px !important;
}
/* title of the image */
#resultNasaText {
    font-size: 32px;
}
/* result image */
#resultImage {
    padding-bottom: 20px;
}
/* click bait text about the planet */
#resultClickBait{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#planet {

}
/* to fit on all screens */
@media only screen and (max-width: 800px) {
    .content {
        width: 100%;
        padding-left:10px;
        padding-right:10px;
    }
}
.answerButton1 {
    background: url(button-galaxy.jpeg) no-repeat center center !important;
    color: rgb(37, 0, 139) !important;
    border: 2px solid rgb(35, 1, 146) !important; /* Green */
    font-weight: 400 !important;
    font-size: 24px !important;
    padding: 7px;
    margin: 15px;


}
.answerButton2 {
    background: url(button-galaxy.jpeg) no-repeat center center !important;
    color: rgb(139, 0, 0) !important;
    border: 2px solid rgb(255, 8, 0) !important; /* Green */
    font-weight: 400 !important;
    font-size: 24px !important;
    padding: 7px;
    margin: 15px;

}